<div class=" uk-padding">
    <table class="uk-table uk-table-small uk-table-divider">
        <thead>
            <tr>
                <th>Table Heading</th>
                <th>Table Heading</th>
                <th>Table Heading</th>
                <th>Table Heading</th>
                
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemArray">
                <td>{{item.$key}}</td>
                <td>{{item.name}}</td>
               
                <td>{{item.province}}</td>
                <td>{{item.skill}}</td>
                <button class="uk-button uk-button-primary uk-button-small" type="button" 
                (click)="moreInfo(item.$key)">Details</button>
                
               
            </tr>
        </tbody>
    </table>
   </div>




