<div class=" uk-padding">
<div class="uk-card uk-card-default ">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="80" height="100" src="assets/img/prof.png">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{data.email}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">Name:{{data.name}}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>Phone:{{data.phone}}</p>
    </div>
    <div class="uk-card-footer">
       <p>Skill:{{data.skill}}</p>
       <p>Proninve:{{data.province}}</p>
       <p>Price:{{data.price}}</p>
       <p>Comments:{{data.comments}}</p>
    </div>
</div>
</div>
